# .NET build directories
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo

# Logs
*.log

# Environment variables
.env
.env.*

# IDE and Editor directories
.vs/
.idea/
.vscode/

# Node modules (if applicable)
node_modules/

TextFile.txt
